html {
    color: #000000;
    -webkit-user-select: none;
    background: #000;
}
body {
    font-family: "Microsoft YaHei", "proxima-nova-1", "proxima-nova-2", arial, sans-serif;
    overflow: hidden;
    font-size: 16px;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
img {
    border: 0;
}

li {
    list-style: none;
}

q:before, q:after {
    content: '';
}

sup {
    vertical-align: text-top;
}
sub {
    vertical-align: text-bottom;
}

a {
    color: #c0fdf7;
    text-decoration: none;
}
a:hover {
    color: #fff;
    text-decoration: underline;
}

#chat {
    display: block;
    position: absolute;
    top: 60%;
    left: 50%;
    font-size: 28px;
    padding: 10px 25px;
    background: rgba(255, 255, 255, .1);
    border-radius: 25px;
    color: #fff;
    text-align: center;
    border-style: none;
    outline-style: none;
    height: 30px;
    opacity: 0;
    transition: opacity .2s linear;
    -o-transition: opacity .2s linear;
    -moz-transition: opacity .2s linear;
    -webkit-transition: opacity .2s linear;
    -ms-transition: opacity .2s linear;
}

#bubble {
    font-size: 24px;
    display: inline-block;
    border: 1px solid red;
}

#bubble, #chat {
    font-weight: bold;
    max-width: 70%;
}

.menu {
    position: fixed;
    right: 0;
    top: 100px;
    width: 65px;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s;
}

.opt {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 15px;
    background-color: #ffffff;
    cursor: pointer;
}

.opt img {
    width: 24px;
    height: 24px;
}

.set,.info {
    position: fixed;
    right: 0px;
    top: 100px;
    width: 230px;
    padding: 20px 0;
    border-radius: 5px;
    background-color: #ffffff;
    transition: transform 0.3s;
    transform: translateX(100%);
}
.set-name,.set-sex {
    display: flex;
    align-items: center;
    padding: 5px 20px;
}

.set-name input {
    width: 100%;
    height: 30px;
    line-height: 30px;
    border-radius: 16px;
    text-align: center;
    font-size: 15px;
    color: #0071AD;
    font-weight: bold;
    border: 1px solid #0071AD;
}

.sex-box {
    flex-grow: 1;
    display: flex;
    align-items: center;
}
.s0,.s1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 32px;
    font-size: 15px;
    cursor: pointer;
}
.s0 {
    background-color: #F77995;
    border-bottom-right-radius: 16px;
    border-top-right-radius: 16px;
}
.s1{
    background-color: #5FFAEA;
    border-bottom-left-radius: 16px;
    border-top-left-radius: 16px;
}
#sex1 {
    margin-left: 5px;
}
#sex0 {
    margin-right: 5px;
}

.set-btn, .info-btn {
    padding: 15px 20px 0;
}
.btn-cls,.info-cls {
    width: 100%;
    height: 30px;
    line-height: 30px;
    border-radius: 16px;
    text-align: center;
    font-size: 15px;
    color: #ffffff;
    cursor: pointer;
    background-image: linear-gradient(90deg,#F2C155, #2597dd,#F2C155);
    box-shadow: 0 5px 5px rgba(0,0,0, 0.1);
}

.goback {
    transform: translateX(100%);
}
.comeback {
    transform: translateX(0%);
}

.info-p {
    font-size: 14px;
    padding: 0 20px 8px;
}
.info-p img {
    width: 100%;
}


#fail, #broken, #unsupported {
    display: none;
    z-index: 9999;
}
.box {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    bottom: 0;
    z-index: 9999;
    background-color: rgba(0,0,0, 0.6);
    align-items: center;
    justify-content: center;
}
.box div{
    max-width: 720px;
    padding: 30px;
    font-size: 26px;
    color: rgb(249, 136, 119);
    border-radius: 10px;
    box-shadow: 1px 1px 5px #000;
    background-color: #fff;
}

#room {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 15px;
    max-width: 300px;
    max-height: 420px;
    opacity: 0.6;
    background-color: rgba(0,0,0,0.6);
    overflow-y: auto;
    overflow-x: hidden;
    transition: transform 0.3s;
    transform: translateX(-100%);
}

#room p {
    color: #ffffff;
    font-size: 14px;
    line-height: 1.5;
    padding: 3px 0;
}

#room::-webkit-scrollbar {
    background-color: rgba(0,0,0, 0.9);
    width: 6px;
}
#room.come{
    transform: translateX(0%);
}